doctype
html
	head
		script(src="js/alias.bundle.js")
	body
		dl
			dt エントリーポイント書き出し
			dd#js-entry
			dt モジュール書き出し
			dd#js-module
			dt importで呼び出されたjQueryのversion
			dd#js-import
			dt グローバル（window）のjQueryのversion
			dd#js-window
