doctype
html
	head
	body
		h1 webpackでjQueryを使う方法
		ul
			li
				a(href="alias.html") resolve.aliasでグローバル変数に定義
			li
				a(href="import.html") importでnpmのjqueryを呼び出す
			li
				a(href="provide.html") ProvidePluginでローカルモジュールを自動ロード
			li
				a(href="commons.html") CommonsChunkPluginで共通モジュール用のファイルを作成
